.main {
    background: url(https://img.freepik.com/premium-photo/landscape-mountains-gray-rocks-discolored-banner-relief-mountains-black-white-blur-abstract-landscape-mountain-surface-3d-render_507676-3053.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-color: #403D39;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;

        .main-text {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            // max-width: 1000px;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 20px;
            color: #403D39;
            justify-content: center;
            background: transparent;
            backdrop-filter: blur(15px);
            border-radius: 9999px;

            h1 {
                font-family: "Homemade Apple", cursive;
                font-weight: 400;
                font-style: normal;
                color: #252422;
                text-decoration: none;
                font-size: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p {
                font-family: "Dancing Script", cursive;
                font-optical-sizing: auto;
                font-weight: 40px;
                font-style: normal;
                font-size: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .main-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            color: whitesmoke;
            padding: 10px 20px;
            border-radius: 10px;
            border: 1px solid transparent;
            background: transparent;
            backdrop-filter: blur(100px);
            width: fit-content;
            margin: 0 auto;

           
        }
    }
}